version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: marigold-mongo
    ports:
      - "${MONGO_PORT}:${MONGO_PORT}"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:alpine
    container_name: marigold-redis
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    command: redis-server --requirepass ${REDIS_PASSWORD}

  kafka:
    image: apache/kafka:latest
    container_name: marigold-kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: EXTERNAL://:9092,CONTROLLER://:9093,INTERNAL://:29092
      KAFKA_ADVERTISED_LISTENERS: EXTERNAL://localhost:9092,INTERNAL://kafka:29092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: EXTERNAL:PLAINTEXT,INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  chromadb:
    image: chromadb/chroma:latest
    container_name: marigold-chroma
    ports:
      - "${CHROMA_PORT}:${CHROMA_PORT}"

#  ollama:
#    image: ollama/ollama:latest
#    container_name: marigold-ollama
#    ports:
#      - "11434:11434"
#    volumes:
#      - ollama_data:/root/.ollama

  auth-service:
    build:
      context: ../
      dockerfile: services/auth/Dockerfile
    container_name: marigold-auth
    ports:
      - "8001:8000"
    env_file: .env
    volumes:
      - ../services/auth:/app/services/auth
      - ../libs:/app/libs
    depends_on:
      - mongodb
      - redis

  chat-service:
    build:
      context: ../
      dockerfile: services/chat/Dockerfile
    container_name: marigold-chat
    ports:
      - "8002:8000"
    env_file: .env
    volumes:
      - ../services/chat:/app/services/chat
      - ../libs:/app/libs
    depends_on:
      - mongodb
      - kafka
      - redis

  ai-service:
    build:
      context: ../
      dockerfile: services/ai/Dockerfile
    container_name: marigold-ai
    ports:
      - "8003:8000"
    env_file: .env
    volumes:
      - ../services/ai:/app/services/ai
      - ../libs:/app/libs
    depends_on:
      - mongodb
      - chromadb
      - ollama
      - kafka

networks:
  default:
    name: marigold-network

volumes:
  mongo_data:
  ollama_data: